<template>
 <div>
  <div class="container pe-0 pe-sm-0 pe-md-2 pe-lg-4 pe-xl-4">
   <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
     <div class="card mb-3 pe-5 ps-5 pb-4 pt-4">
      <h5 class="mt-3">{{orgmembers.data[0].organization.abbreviation ? orgmembers.data[0].organization.abbreviation : orgmembers.data[0].organization.name}}</h5>
      <p class="text-muted">Here are the members of this organization</p>
      <div v-if="$can('assign_org_adviser')" class="d-flex justify-content-end mt-2">
        <div class="d-flex flex-column mt-2">
          <button v-on:click.prevent="" class="btn btn-purple"><i class="bi bi-person-circle me-2"></i>Assign Adviser</button>
        </div>
       </div>
      <div class="d-flex justify-content-end mt-2">

        <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
          <div class="input-group form-floating mb-3">
            <input type="text" v-model="search" class="form-control" id="floatingSearchOrg" placeholder="Search here">
            <label  for="floatingSearchOrg" class="">Search</label>
            <button @click.prevent="orgmemberSearch" class="btn btn-purple"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-4">
       <div class="text-center" v-if="orgmembers.data == 0">No accounts under organizations</div>
       <b-skeleton-table
        :rows="6"
        :columns="10"
        :table-props="{ bordered: false, striped: true }"
        v-if="initialLoading && orgmembers.data == 0"
       ></b-skeleton-table>
       <table class="table table-hover" v-else>
        <caption>Showing {{orgmembers.from}} to {{orgmembers.to}} out of {{orgmembers.total}} accounts</caption>
        <thead v-if="orgmembers.data != 0">
         <tr>
          <th scope="col"></th>
          <th scope="col" class="text-nowrap">Name</th>
          <th scope="col">Role</th>
          <th scope="col" class="text-nowrap">Status</th>
          <th scope="col" class="text-nowrap">Date Created</th>
          <th scope="col">Actions</th>
         </tr>
        </thead>
        <tbody v-if="orgmembers.data">
         <tr v-for="(acc, i) in orgmembers.data" :key="i">
          <th scope="row" class="justify-content-center">
           <avatar
            :size="40"
            :src="'http://127.0.0.1:8000/uploads/' + acc.user.userinfo.image"
            :username="acc.user.userinfo.first_name + ' ' + acc.user.userinfo.last_name"
           ></avatar>
          </th>
          <td class="text-nowrap">{{ acc.user.userinfo.first_name }} {{ acc.user.userinfo.last_name }}</td>
          <td>{{ acc.user.userinfo.role.role }}</td>
          <td>
           <b-badge class="rounded-pill" :class="acc.user.status == 'Approved' ? 'bg-success' : 'bg-danger'">{{
            acc.user.status
           }}</b-badge>
          </td>
          <td>{{ acc.created_at | moment }}</td>
          <td>
           <div class="d-flex">
            <button
             href=""
             :disabled="isLoading && current_id == acc.user.id"
             v-on:click.prevent="accDisplayed = acc; $bvModal.show('viewInfoModal')"
             v-b-tooltip.hover
             title="View Details"
             class="btn btn-sm btn-purple rounded-pill me-2">
            <i v-if="current_id != acc.user.id" class="bi bi-arrows-angle-expand"></i>
            </button>
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
      <!-- <div class="row mt-3" v-if="org_accounts.data">
       <pagination
        :showDisabled="true"
        :align="'right'"
        :data="org_accounts"
        @pagination-change-page="organizationSearch"
       >
        <span slot="prev-nav">&laquo;</span>
        <span slot="next-nav">&raquo;</span>
       </pagination>
      </div> -->
     </div>
    </div>
   </div>
  </div>
 </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
 import Avatar from 'vue-avatar';

export default {
 components: {Avatar},
 filters: {
   moment: function(date) {
    return moment(date).format('MMM Do YYYY, h:mm a');
   },
 },
 data(){
  return {
     initialLoading: false,
     isLoading: false,
     isSearching: false,
     current_id: '',
     accDisplayed: [],
     search: '',
  }
 },
 computed: {
  ...mapState('members', ['orgmembers'])
 },
 async mounted(){
   this.initialLoading = true
   await this.$store.dispatch('auth/checkAuthUser')
   await this.$store.dispatch('members/organizationMembers')
   this.isLoading = true
 },
 methods: {

 }
}
</script>