@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  font-family: 'Poppins', sans-serif !important;
}

html {
 background-color: #f9f8ff;
}

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 0 !important;
}

.hero-bg {
 height: 100vh;
 background: linear-gradient(to top, #6859cbd7, #615bff93), url('~@/assets/images/hero-bg.jpg');
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
 position: relative;
}

.admin {
 background-color: #f9f8ff;
 width: 100%;    
 height: 100%;
}

.content-end {
 display: flex;
 flex-direction: column;
 height: 100%;
 justify-content: flex-end;
 padding: 0px 3.5rem;
 padding-bottom: 5rem;
 color: white;
}

.main-content {
 margin-left: 310px;
 margin-top: 150px;
}

.card {
  border: 1px solid rgba(58, 58, 58, 0.089) !important;
  /* border: 0 !important; */
}

.modal-content {
  border: 0 !important;
  border-radius: 0 !important;
}

#infoModal .modal-content {
  border: 0 !important;
  border-radius: 0 !important;
}

/** CORE VALUE */

.corevalue {
  width: 100%;
  display: flex;
  justify-content: center;
}

#carousel blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #ffffff;
  padding: 30px 50px 65px 50px;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.4em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.055);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  width: 100%;
}

#carousel blockquote:before,
#carousel blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 60px;
  opacity: 0.3;
  font-style: normal;
}

#carousel blockquote:before {
  top: 35px;
  left: 30px;
}

#carousel blockquote:after {
  content: "\201D";
  right: 30px;
  bottom: 35px;
}

.VueCarousel-dot-container{
  margin-top: -40px !important;
}

.cardimg {
  display: flex;
  margin-top: -30px;  
  margin-right: -30px;  
}

.cardimg img {
  max-height: 160px;
  margin-top: -30px;
}

.card-design img {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: .85rem;
  margin-left: -.85rem;
  z-index: 1;
  height: 80px;
  opacity: .7;
  transform: scale(-1) rotate(-90deg);
}

/** CARD SUMMARY */
.summary-container {
  position: absolute;
  background-color: #605BFF;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.summary-text {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
}

/** SIDE NAVIGATION BAR */

.sidenav {
  background-image: linear-gradient(to bottom, #605BFF, #6959CB);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 5rem .9rem;
  z-index: 3;
  transition: all 250ms ease-in-out;
  overflow-y: auto;
}

.sidenav a{
 font-size: 1rem;
 font-weight: 400;
 color: white;
 text-decoration: none;
 padding: 10px 16px;
 margin-top: 5px;
}

.sidenav a:hover {
 background: #422fafab;
 color: white;
 border-radius: 10px;
}

.router-link-active {
 background: #4833C3;
 color: white;
 border-radius: 10px;
 position: relative;
}

.router-link-active::before  {
 content: '';
 position: absolute;
 top: 50%;
 right: 5%;
 transform: translateY(-50%);
 background: #4af39e;
 border-radius: 50%;
 height: 8px;
 width: 8px;
}

.close-nav {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  cursor: pointer;
}

.close {
  outline: none !important;
  border: 0px !important;
  background: white !important;
  font-size: 1.2rem !important;
 }

/** NAVIGATION */
.navbar {
 position: absolute !important;
 top: 0;
 right: 0;
 width: calc(100% - 260px);
 height: 120px;
 padding: 25px 4rem;
 justify-content: space-evenly !important;
 padding-top: 25px !important;
 padding-bottom: 25px !important;
 transition: all 250ms;
 z-index: 4;
}

.navbar-scrolled {
  position: fixed !important;
  height: 80px;
  background: white;
  padding: 0px 2rem !important;
  box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.295);
  z-index: 4 !important;
  top: 0;
  right: 0;
  transition: all 250ms;

}


/** FLOATING LABEL MODIFICATION */
.form-floating > .form-control, .form-floating > .form-select {
 height: calc(2.5rem + 2px) !important;
}


.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
 transform: scale(0.85) translateY(-2.4rem) translateX(-.5rem) !important;

}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}

.form-floating > label {
 padding: .5rem 0.75rem !important;
}

/** DARK MODE **/
/* .dark  {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
}

.dark .navbar {
  background-color: rgb(27, 27, 27) !important;
}

.dark .main-content {
  background-color: rgb(27, 27, 27) !important;

}

.dark .admin {
  background-color: rgb(27,27,27) !important;
  color: white !important;
}

.dark .navbar-scrolled {
  background-color: rgb(27,27,27) !important;
  box-shadow: 0px 0px 10px rgba(82, 82, 82, 0.534) !important;
  color: white !important;
}

.dark .card {
  background-color: rgb(30, 30, 30) !important;
  border: 1px solid rgb(37, 37, 37) !important;
}

.dark .sidenav {
  background-image: linear-gradient(to bottom, #605BFF, #6959CB);

}

.dark .table {
  color: white !important; 
}

.dark .table-hover > tbody > tr:hover {
  color: white !important;
  background-color: #1b1b1b !important;
}

.dark .form-floating > label {
  color: white !important;
}

.dark p, h1, h2, h3, h4, h5, h6 {
  color: white;
} */

/** DATE AND TIME CARD **/
.date {
  font-size: 1.5rem;
}

.time {
  font-size: 1.2rem;
}

/** VALIDATION */
.invalid-feedback {
 margin-top: 0 !important; 
}

/** STEPPER */
.step-progress__step:after {
 height: 30px !important;
 width: 30px !important;
}

.step-progress__step span {
 font-size: 1rem !important;
}

.step-progress__step-label {
 top: 2.2rem !important;
 font-weight: 400 !important;
 font-size: 1rem !important; 
}

.step-progress__bar {
 margin-bottom: 2rem !important;
}

.step-progress__step-icon {
 font-size: 25px !important;
}


.stepper-container {
 width: 80%;
}

/* PAGINATION */
span.sr-only{
  display: none !important;
}

.page-item.active .page-link {
  background-color: #605BFF !important;
  border-color: #6460e2 !important;
}

/** COMPONENT */
.btn-reg {
 text-decoration: none;
}

.btn-logout {
 background: transparent;
 padding: 4px 15px !important;
}

.btn-logout:hover{
 background: #605BFF;
 border-radius: 50px;
 color: white !important;
}

.btn-logout:hover a {
 color: white !important;

}


/** Card Time BG */
.bg-morning {
  background-image: linear-gradient(to left, #615bff44, rgba(0, 0, 0, 0.158)), url('../images/morning.webp');
  background-position: center;
  background-size: cover;
  font-weight: 700;
}

.bg-afternoon {
  background-image: linear-gradient(to left, #615bff1f, rgba(0, 0, 0, 0.089)), url('../images/afternoon.webp');
  background-position: center;
  background-size: cover;
}

.bg-evening {
  background-image: linear-gradient(to left, #615bff3a, rgba(0, 0, 0, 0.185)), url('../images/evening.jpeg');
  background-attachment: center;
  background-position: top;
  background-size: cover;
}

/** COLORS */

.btn-purple {
 background-color: #605BFF !important;
 color: white !important ;
}

.btn-purple:hover{
 background-color: #6460e2 !important;
}

.c-primary {
 color: #605BFF !important;
 cursor: pointer;
}

.card-gradient {
  background-image: linear-gradient(to top, #605BFF, #6959CB);
}

.sys-primary {
  background-color: #605BFF !important;
}

.text-white-1 {
  color: rgb(243, 243, 243);
}

.text-violet {
  color: #605BFF !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  z-index: 1;
}

/** UTILITY HELPER */
.font-weight-400 {
  font-weight: 400 !important;
}
.expand {
  display: none;
  height: 0px;
}

.expandedmenu-active {
  background-color: #4933c35e;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 250ms;
}

.bg-submenu {
  background-color: #4933c35e;
  padding: 10px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 250ms;
  height: 100%;
  border-top: 1px solid #422db45e;

}

.vh-100 {
 height: 100vh;
}

.lh-r {
 line-height: 1.2rem;
}    

.lh-l {
 line-height: 1.7rem;
}    

.fw-700 {
 font-weight: 700;
}

.fw-600 {
 font-weight: 600;
}

.bi-2x {
 font-size: 1.25rem;
}

.bi-3x {
 font-size: 1.4rem;
}

.bi-5x {
 font-size: 2.5rem;
}

.lh-1{
 line-height: 1.2rem;
}

.br-20 {
 border-radius: 15px !important;
}

.hidden {
  display: none;
}

.mobile-logout {
  display: none !important;
}

.nm-2 {
  margin-top: -10px;
}

/**  SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(219, 219, 219); 
  border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: #605BFF; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4833C3; 
}

@media only screen and (max-width: 1050px){

  html {
    font-size: .9rem;
  }
  .sidenav {
    width: 200px;
  }

  .main-content {
    margin-left: 210px;
  }

  .navbar {
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 800px){

  html {
    font-size: .9rem;
  }

  .sidenav {
    width: 110px;
    padding: 3.5rem .9rem;
  }

  .sidenav a{
    text-align: center;
  }

  .sidenav-sr {
    display: none;
  }

  .sidenav a i.bi {
    font-size: 1.5rem !important;
  }

  .sidenav h6 {
    font-size: .85rem !important;
  }

  .sidenav h6.ms-2 {
    margin-left: 0px !important;
  }

  .sidenav-bi {
    display: block;
    opacity: 1 !important;
    color: white;
  }

  .main-content {
    margin-left: 115px;
  }

  .navbar {
    width: calc(100% - 110px);
  }

}

@media only screen and (max-width: 768px){
  .hero-bg {
    height: 0;
    display: none;
  }

  .mobile-login {
    background: linear-gradient(to top, #303030d7, #33309493), url('~@/assets/images/hero-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
  }

  .mobile-login a {
    color: white;
  }
}

@media only screen and (max-width: 640px){

  .mobile-logout {
    display: flex  !important;
  }

  .nav-btn {
    position: absolute;
    right: 1rem;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 100%;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    margin-top: -7px;
  }

  .nav-btn i{
     display: block;
     width: 1.2rem;
     height: 2px;
     background: #605BFF;
     border-radius: 2px;
     margin-left: 25%;
  }

  .nav-btn i:nth-child(1){
    margin-top: 1rem;
  }

  .nav-btn i:nth-child(2){
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3){
    margin-top: 4px;
  }

  .main-content {
    margin-left: 0px;
  }

  .navbar {
    width: 100%;
    padding: 25px 2rem;
  }

  .sidenav-active {
    width: 100% !important;
    height: 100% !important;
    z-index: 999 !important;
    opacity: 1 !important;
  }

  .sidenav {
    background-image: linear-gradient(to bottom, #605BFF, #6959CB);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    display: flex;
    padding: 2rem .9rem;
    z-index: 3;
    opacity: 0;
    transition: all 250ms ease-in-out;
    overflow-y: scroll;
  }

  .sidenav-sr {
    display: block;
  }

  .sidenav h6.ms-2 {
    margin-left: .5rem !important;
  }

  .sidenav a{
    right: 0;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .sidenav a:hover {
    background: #422fafab;
    color: white;
    border-radius: 10px;
  }
  
  .router-link-active {
    background: #4833C3;
    color: white;
    border-radius: 10px;
    position: relative;
  }
  
  .router-link-active::before  {
    content: '';
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background: #4af39e;
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }

  .close-nav{
    right: 30px;
    color: white;
    font-weight: 600;
    display: block;
  }

  .logout-btn {
    display: none !important;
  }
}

#nav:checked .sidenav {
  z-index: 200;
  opacity: 1 !important;
  width: 100% !important;
  height: 100vh !important;
  position: fixed;
}

/** BADGE */

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-pill {
  padding-right: .6em !important;
  padding-left: .6em !important;
  border-radius: 10rem !important;
}

/** INPUT TAG */
.tags-input span {
  padding: .5rem .6rem!important;
  margin-top: .3rem !important;
  margin-right: 0.3em !important;
}

.tags-input-remove {
  top: 0.5em !important;
  right: 0.4em !important
}

.tags-input-typeahead-item-default {
  color: black !important;
  background-color: rgb(240, 240, 240) !important;
}

.typeahead-hide-btn {
  color: black !important;
}

.tags-input-badge {
  font-size: .92rem !important;
  font-weight: 400 !important;
}

.tags-input-remove:before, .tags-input-remove:after {
  background: #ffffff !important;
}

.tags-input-badge-selected-default {
  color: white !important;
  background-color: #007bff !important;
}


@media only screen and (max-width: 505px){
  .nav-btn {
    margin-top: -7px;
  }
}

@media only screen and (max-height: 570px){
  .sidenav {
    overflow-y: scroll;
    z-index: 9999;
  }
}


@media (prefers-color-scheme: dark) {

  html, body {
    background-color: rgb(27, 27, 27) !important;
    color: #fff;
  }

  label {
    color: #fff;
  }

  .text-violet {
    color: #ffffff !important
  }

  .admin {
    background-color: rgb(27,27,27);
    color: white;
  }

  .navbar-scrolled {
    background-color: rgb(27,27,27);
    box-shadow: 0px 0px 10px rgba(82, 82, 82, 0.534);
    color: white;
  }

  .card {
    background-color: rgb(30, 30, 30) !important;
    border: 1.1px solid rgb(44, 44, 44) !important;
    color: white !important;
  }

  #carousel blockquote {
    background-color: rgb(30, 30, 30) !important;
    border: 1.1px solid rgb(44, 44, 44) !important;
  }

  .modal-content {
    background-color: rgb(30, 30, 30) !important;
  }

  .close {
    background-color: transparent !important;
    color: white !important;
  }

  .page-item.disabled .page-link {
    background-color: rgb(30, 30, 30) !important;
    border: 1px solid rgb(37, 37, 37) !important;
  }

  .page-link {
    background-color: rgb(30, 30, 30) !important;
    border: 1px solid rgb(37, 37, 37) !important;
  }

  .sidenav {
    background-image: linear-gradient(to bottom, #605BFF, #6959CB);
  }
  
  .table {
    color: white !important; 
  }

  .table-hover > tbody > tr:hover {
    color: white !important;
    background-color: #1b1b1b !important;
  }

  .form-floating > label {
    color: white !important;
  }
  p, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
   
}